body{
  background-color:#eaf6f6;
}
hr {

  border-style: none;
  border-top-style : dotted;
  border-width: 10px;
  border-color: #2a6171;
  height: 40px;
  width: 10% ;
}
h1{
  color: #66bfbf;
}
h3{
  color: #66bfbf;
}
img:hover{
   background-color: blue;
}
.broc{
     background-color: gold;
}
